
body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
.social-icons{
  display:flex;
  flex-direction: row;
  gap:15px;
  padding-bottom:10px;

}
.social-icons a {
    font-size: 25px;
    color: #eaeaea;
    text-decoration: none;
    display: inline-block;
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}
.social-icons a:hover {
    transform: scale(1.3);
}

.social-icons a:hover i {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    width: 15%;
    height: 100vh;
    background-color: rgb(42,14,2);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    z-index: 10;
}

.navbar h1 {
    color: rgb(231,231,231);
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding-top: 50px;
    width: 100%;
    flex-grow: 1;
}

.navbar li a {
    display: block;
    padding: 15px;
    color: rgba(255,255,255,0.67);
    text-decoration: none;
    transition: all 0.3s ease, color 0.2s ease;
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar li a:not(.active):hover {
    font-weight: bold;
    color: rgb(214,214,214);
    transform: translateX(20px);
    transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.navbar a.active {
    font-weight: bold;
    color: rgb(225,225,225);
}
.content-wrapper{
    display:flex;
    flex-direction: column;
    margin-left: 15%;
    width: 85%;
}

main {
    margin-left:15%;
   
}

.bgimg {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("images/sny01074.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(255,165,0,0.5);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        height: auto;
    }

    .navbar {
        position:relative;
        display:flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .navbar li a {
        padding: 10px;
    }
    .navbar li a:not(.active):hover {
    font-weight: bold;
    color: rgb(214,214,214);
    transform: translateY(-5px);
}

    main {
        width: 100%;
        margin-left: 0;
    }

    .bgimg {
        width: 100vw;
        height: 60vh;
    }

    .text {
        position: relative;
        width: 90%;
        height: auto;
        margin: 10px auto;
    }
     .content-wrapper,
    main,
    .bgimg {
        margin-left: 0; 
    }
    .social-icons {
        gap: 10px;
    }
    .social-icons a{
      font-size:20px;
    }
}




.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    width: 100%;         
    background-image: url(images/9698231_resized.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin:0;
    padding:0;

}
.login-wrapper::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.677); /* white overlay at 40% opacity */
    z-index: 0;
}

.login-wrapper .login-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 670px;
    max-width: 90%;
    padding: 60px 45px;
    border: 2px solid #1a191d;
    border-radius: 10px;
    background-color: #222228;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    font-size: 20px;
    letter-spacing: 1px;
    z-index:1;
}
#app .login-box label {
    display: block;
    color: #e5e5e5;
    margin-bottom: 5px;
}

#app .login-box input[type=text],
#app .login-box input[type=password] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    border:0;
    background-color: #3e3e4d;
    color: #ededed; /* text color */
    font-size: 18px;
    box-sizing: border-box;
    transition: border 0.3s, box-shadow 0.3s;
}

#app .login-box input[type=text]:focus,
#app .login-box input[type=password]:focus {
    outline: none;
    border-color: #25233a;
    box-shadow: 0 0 5px rgba(205, 201, 218, 0.5);
}

#app .login-box button {
    width: 100%;
    background-color: #dbdddb; /* coffee brown */
    color: rgb(30, 29, 35);
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
    letter-spacing: 1px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#app .login-box button:hover {
    background-color: #999999;
}
@media screen and (max-width: 400px) {
    #app .login-box {
        margin: 20px;
        padding: 20px;
    }
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}