body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 85%;
}

main {
    margin-left: 15%;
    padding-left: 0px;

}

.bgimg {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/sny01074_.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(255, 165, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}


